[submodule "userspace/meow"]
	path = userspace/meow
	url = https://github.com/netoneko/meow.git
[submodule "userspace/tcc/tinycc"]
	path = userspace/tcc/tinycc
	url = https://repo.or.cz/tinycc.git
[submodule "userspace/llama.cpp/llama.cpp"]
	path = userspace/llama.cpp/llama.cpp
	url = https://github.com/netoneko/llama.cpp.git
[submodule "userspace/crush/crush"]
	path = userspace/crush/crush
	url = https://github.com/netoneko/crush.git
[submodule "userspace/nca/native-cli-ai"]
	path = userspace/nca/native-cli-ai
	url = https://github.com/netoneko/native-cli-ai.git
	branch = dev
[submodule "userspace/rumpkernel/buildrump.sh"]
	path = userspace/rumpkernel/buildrump.sh
	url = https://github.com/netoneko/buildrump.sh.git
