[submodule "userspace/meow"]
	path = userspace/meow
	url = git@github.com:netoneko/meow.git
[submodule "userspace/tcc/tinycc"]
	path = userspace/tcc/tinycc
	url = https://repo.or.cz/tinycc.git
[submodule "userspace/musl/musl"]
	path = userspace/musl/musl
	url = https://git.musl-libc.org/git/musl
[submodule "userspace/sbase/sbase"]
	path = userspace/sbase/sbase
	url = https://git.suckless.org/sbase
[submodule "userspace/xbps/xbps"]
	path = userspace/xbps/xbps
	url = https://github.com/void-linux/xbps
