[package]
name = "akuma"
version = "0.1.0"
edition = "2024"

[[bin]]
name = "akuma"
bench = false
test = false

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"

[dependencies]
talc = "4"
spinning_top = "0.3"
fdt = "0.1"
smoltcp = { version = "0.11", default-features = false, features = ["proto-ipv4", "socket-tcp", "socket-udp", "medium-ethernet"] }
virtio-drivers = { version = "0.7", default-features = false, features = ["alloc"] }
arm_pl031 = "0.2"
