[package]
name = "akuma"
version = "0.1.0"
edition = "2024"

[[bin]]
name = "akuma"
bench = false
test = false

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"

[dependencies]
talc = "4"
spinning_top = "0.3"
fdt = "0.1"
