[build]
target = "aarch64-unknown-none"

[target.aarch64-unknown-none]
rustflags = [
    "-C", "link-arg=-L/Users/netoneko/github.com/netoneko/akuma/userspace",
    "-C", "relocation-model=static",
]

