# Embedded into overlays/ryzen's standalone grubx64.efi by install.sh (and by
# qemu.sh for the rehearsal). Entry 0 is what an unarmed, unwatched one-shot
# boots: it returns to Pop by itself. The menu waits 5 s for a person.
insmod part_gpt
insmod fat
insmod multiboot2
insmod all_video
search --no-floppy --file --set=root /EFI/akuma/akuma-amd64
set timeout=5
set default=0
menuentry "Akuma/amd64 unattended (nosmp, reboots to Pop after 90 s)" {
    multiboot2 /EFI/akuma/akuma-amd64 init=/bin/herd initargs=daemon,--service,/etc/herd/enabled/sshd.conf,--service,/etc/herd/available/autoreboot.conf nosmp fbverbose
    module2 /EFI/akuma/root.img
}
menuentry "Akuma/amd64 (nosmp, verbose)" {
    multiboot2 /EFI/akuma/akuma-amd64 init=/bin/herd nosmp fbverbose
    module2 /EFI/akuma/root.img
}
menuentry "Akuma/amd64 self-tests (nosmp)" {
    multiboot2 /EFI/akuma/akuma-amd64.tests init=/bin/herd nosmp fbverbose
    module2 /EFI/akuma/root.img
}
menuentry "Akuma/amd64 headless (nofb, nosmp, reboots to Pop after 90 s)" {
    multiboot2 /EFI/akuma/akuma-amd64 init=/bin/herd initargs=daemon,--service,/etc/herd/enabled/sshd.conf,--service,/etc/herd/available/autoreboot.conf nofb nosmp
    module2 /EFI/akuma/root.img
}
menuentry "Akuma/amd64 (SMP)" {
    multiboot2 /EFI/akuma/akuma-amd64 init=/bin/herd fbverbose
    module2 /EFI/akuma/root.img
}
menuentry "Back to firmware (reboot)" {
    reboot
}
